  :root {

  --basic-red: #EE3643;
  --basic-dark-blue: #293449;
  --basic-green: #63A63E;
  --basic-dark-gray: #32425C;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-gray: rgba(0, 0, 0, 0.0001);
  --basic-orange: #FFBF47;
  --basic-orange2: #FFD27E;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --basic-gray: rgba(0, 0, 0, 0.25);
  --basic-light-green: #8ED78F;
  --basic-light-orange: #FFC047;
  --basic-light-light-gray: #F9F5F0;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFD180;
  --basic-light-pink: #F7F3EC;
  --basic-true-gray: #C5C5C5;
  --basic-gray2: #A9A9A9;
  --basic-gray3: #F3F7F9;
  --basic-light-blue: #F2F6F8;

  }

  .page {
    height: 100%;
  }
  .page-body {
    min-height: 100%;
  }

  /*HEADER*/
  .content-wrapper {
    width: 940px;
    margin: 0 auto;
  }
  .visually-hidden {
    display: none;
  }
  .header {
    font-family: Cuprum, Arial, sans-serif;
  }
  .logo {
    background-color: var(--basic-red);
    padding: 16px 56px;
    display: flex;
    margin: 0;
    color: var(--basic-white);
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .header__top {
    background-color: var(--basic-dark-blue);
    min-height: 42px;
  }
  .header__top .header__top-content {
    display: flex;
    justify-content: space-between;
  }
  .nav-wrapper {
    width: 940px;
  }
  .header__search {
    background-color: var(--basic-dark-blue);
    display: flex;
    margin-left: 19px;
  }
  .header__selection {
    display: flex;
    justify-content: space-between;
  }
  .header__selection li {
    list-style: none;
  }
  .header__selection_item {
    display: flex;
    text-decoration: none;
    color: var(--basic-white);
    font-size: 18px;
  }
  .header__selection_basket {
    margin-left: 50px;
  }
  .header__selection_basket-red {
    background-color: var(--basic-red);
    margin-left: 50px;
    padding: 9px 21px 9px 35px;
  }
  .header__selection_order {
    background-color: var(--basic-green);
    padding: 9px 16px 9px 19px;
    margin-left: 26px;
  }
  .header__container {
    background-color: var(--basic-light-blue);
    min-height: 278px;
  }
  .header-info {
    display: flex;
    min-height: 153px;
    justify-content: space-between;
    align-items: center;
  }
  .header__description {
    color: var(--basic-red);
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    justify-content: center;
  }
  .header__tel {
    color: var(--basic-red);
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    margin-left: 93px;
  }
  .header__address {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: var(--basic-dark-gray);
    margin-left: 103px;
  }
  .header__login {
    text-decoration: none;
    color: var(--basic-black);
    font-size: 21px;
    text-align: center;
    line-height: 21px;
    padding: 12px 27px 12px 45px;
    background-color: var(--basic-white);
    margin-left: 69px;
  }
  .header__registration {
    background-color: var(--basic-white);
    text-decoration: none;
    color: var(--basic-black);
    font-size: 21px;
    text-align: center;
    line-height: 21px;
    padding: 12px 24px;
    margin-left: 10px;
  }
  .header__navigation {
    list-style: none;
    margin-top: 44px;
    background-color: var(--basic-dark-blue);
    padding: 16px 53px 20px 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__navigation li:not(:first-child) {
    margin-left: 56px;
  }
  .header__navigation-item {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
  }

  /*CARDS*/

  .card {
    font-family: Cuprum, Arial, sans-serif;
    margin-top: 119px;
  }
  .card__section a {
    text-decoration: none;
    color: var(--basic-white);
  }
  .card__section h3 {
    margin: 0;
  }
  .card__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .card__section_orange {
    background-color: var(--basic-orange);
    grid-area: 1 / 1 / 2 / 2;
  }
  .card__section_blue {
    background-color: var(--basic-blue);
    grid-area: 1 / 2 / 2 / 3;
  }
  .card__section_purple {
    background-color: var(--basic-purple);
    grid-area: 1 / 3 / 2 / 4;
  }
  .card__section_green {
    background-color: var(--basic-light-green);
    grid-area: 2 / 3 / 3 / 4;
  }
  .card__section_light-orange {
    background-color: var(--basic-light-orange);
    grid-area: 3 / 3 / 4 / 4;
  }
  .card__section-button {
    font-family: Cuprum, Arial, sans-serif;
    color: var(--basic-white);
    opacity: 30%;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 10px 24px 10px 23px;
    margin: 0;
    text-transform: uppercase;
  }
  .card__section-button_orange {
    background-color: var(--basic-orange);
  }
  .card__section-button_blue {
    background-color: var(--basic-blue);
  }
  .card__section-button_purple {
    background-color: var(--basic-purple);
  }
  .card__section-button_green {
    background-color: var(--basic-light-green);
  }
  .card__section_light-orange {
    background-color: var(--basic-light-orange);
  }
  .card__section_big {
    text-decoration: none;
    color: var(--basic-white);
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    text-transform: uppercase;
  }
  .card__section_big-gray {
    background-color: var(--basic-gray);
    grid-area: 2 / 1 / 4 / 3;
  }
  .card__section_big-phrase {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-gray);
  }
  .card__section_big-button-red {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 11px 46px 9px;
    text-transform: uppercase;
  }

  /*POPULAR PRODUCTS*/

  .popular {
    background-color: var(--basic-light-light-gray);
    text-decoration: none;
    font-family: Cuprum, Arial, sans-serif;
    margin-top: 59px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
  .popular__name {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-dark-gray);
    padding-left: 28px;
  }
  .popular__button {
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  .popular__button-1 {
    margin: 25px 14px 26px 0px;
    padding: 11px 24px 9px;
  }
  .popular__button-2 {
    margin: 25px 19px 26px 0px;
    padding: 11px 38px 9px 39px;
  }
  .product__item-card {
    text-decoration: none;
    color: var(--basic-black);
  }
  .product__item {
    list-style: none;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: var(--basic-black);
    width: 220px;
    min-height: 318px;
  }
  .product__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
  }
  .product__item-img {
    background-color: var(--basic-light-gray);
    width: 184px;
    height: 164px;
    justify-content: center;
  }
  .product__item-old-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-gray2);
    text-decoration-line: line-through;
  }
  .product__item-price-button {
    background-color: var(--basic-red);
    padding: 10px 44px 10px 32px;
    color: var(--basic-white);
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-left: 45px;
  }
  .product__item-price-button_last {
    margin-top: 50px;
  }

  /*POPULAR PROVIDERS*/
  .provider {
    margin-top: 20px;
  }
  .provider__item {
    text-decoration: none;
  }
  .provider-content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .provider-content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*SERVICE*/

  .service {
    margin-top: 70px;
    background-color: var(--basic-background);
  }
  .service__name {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    padding-top: 64px;
    padding-left: 130px;
  }
  .service__phrase {
    font-family: PT Sans, Arial, sans-serif;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 24px;
    margin-top: 25px;
    margin-left: 130px;
  }
  .vertical {
    display: flex;
  }
  .vertical-tab {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: repeat(3, 61px);
    margin: 70px 0px 99px 130px;
  }
  .vertical-tab-item {
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
  }
  .vertical-tab_active {
    background-color: var(--basic-white);
    color: var(--basic-dark-gray);
  }
  .vertical-tab_blue {
    background-color: var(--basic-dark-gray);
    color: var(--basic-white);
  }
  .service__name_blue {
    color: var(--basic-dark-gray);
  }

  /*COMPANY*/

  .company {
    font-family: Cuprum, Arial, sans-serif;
    margin-top: 70px;
  }
  .company-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 150px;
  }
  .company__name {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .company__description {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
  }
  .company__transport {
    list-style: none;
    line-height: 24px;
    font-size: 18px;
    color: var(--basic-black);
    margin-bottom: 20px;
    margin-top: 1px;
  }
  .company__contact-card {
    margin-bottom: 25px;
  }
  .company__more-information {
    text-decoration: none;
  }
  .company__button {
    text-decoration: none;
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
  }
  .company__button-1 {
    padding: 11px 40px 9px 39px;
  }
  .company__button-2 {
    padding: 11px 61px 9px 61px;
  }

  /*FOOTER*/

  .footer {
    margin-top: 70px;
    font-family: Cuprum, Arial, sans-serif;
  }
  .footer__top {
    background-color: var(--basic-dark-gray);
    min-height: 193px;
    margin: 0;
  }
  .footer__address {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-gray3);
  }
  .footer__nav-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__nav-list1 li {
    margin-left: 173px;
    display: flex;
    justify-content: space-between;
  }
  .footer__nav-list2 li {
    margin-left: 92px;
    display: flex;
    justify-content: space-between;
  }
  .footer__nav-row1 a {
    color: var(--basic-gray3);
  }
  .footer__nav-row2 a {
    color: var(--basic-yellow);
  }
  .footer__nav-row2 {
    display: flex;
  }
  .footer__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .footer__nav-item {
    text-decoration: none;
  }
  .footer__nav-item :not(:first-child) {
    margin-left: 58px;
  }
  .footer__down-social :not(:first-child) {
    margin-left: 10px;
  }
  .footer__down-social_list {
    list-style: none;
  }
  .footer__down-social_list  {
    display: flex;
  }
  .footer__down {
    margin: 0;
    background-color: var(--basic-dark-blue);
    min-height: 107px;
  }
  .footer__copyright {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
  }
  .social__button {
    text-decoration: none;
  }
  .footer__feedback {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
  }
  .footer__feedback-address {
    text-decoration: none;
    color: var(--basic-yellow);
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*CATALOG*/

  .page-nav {
    list-style: none;
  }
  .page-nav__item {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-decoration: none;
  }
  .punchers {
    background-color: var(--basic-light-blue);
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-dark-blue);
    padding: 29px 739px 30px 29px;
  }

  /*FILTER*/

  .filter {
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;
  }
  .filter__name {
    background-color: var(--basic-light-pink);
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    padding: 10px 151px 10px 18px;
  }
  .filter__item {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
  }
  .filter__button {
    text-decoration: none;
    padding: 10px 79px 10px 78px;
    background-color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-black);
  }

  /*SORTING*/
  .sorting {
    text-transform: uppercase;
  }
  .sorting__list {
    list-style: none;
    text-decoration: none;
    background-color: var(--basic-light-pink);
  }
  .sorting__item {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
  }
  .sorting__item_red {
    color: var(--basic-red);
  }

  /*SWITCH-PAGES*/

  .switch-pages__list a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--basic-white);
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-black);
    text-transform: uppercase;
  }
  .switch-pages_active {
    background-color: var(--basic-red);
  }
  .switch-pages_next {
    padding: 10px 31px 10px 32px;
  }

  /*PUNCHER-INFORMATION*/

  .puncher-information {
    background-color: var(--basic-background);
  }
  .puncher-information__name {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
  }
  .puncher-information__text {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
  }
