  :root {

  --basic-red: #EE3643;
  --basic-dark-blue: #293449;
  --basic-green: #63A63E;
  --basic-dark-gray: #32425C;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-gray: rgba(0, 0, 0, 0.0001);
  --basic-orange: #FFBF47;
  --basic-orange2: #FFD27E;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --basic-gray: rgba(0, 0, 0, 0.25);
  --basic-light-green: #8ED78F;
  --basic-light-orange: #FFC047;
  --basic-light-light-gray: #F9F5F0;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFD180;
  --basic-light-pink: #F7F3EC;
  --basic-true-gray: #C5C5C5;
  --basic-gray2: #A9A9A9;
  --basic-gray3: #F3F7F9;
  --basic-light-blue: #F2F6F8;


  }
   /*HEADER*/
  .header {
    font-family: Cuprum, Arial, sans-serif;
  }
  .header__logo {
    background-color: var(--basic-red);
    padding: 12px 57px 17px 55px;
    width: 108px;
    height: 18px;
  }

  .header__top {
    background-color: var(--basic-dark-blue);
    width: 1200px;
    height: 42px;
  }

  .header__search {
    background-color: var(--basic-dark-blue);
  }

  .header__selection {
    list-style: none;
    text-decoration: none;
    color: var(--basic-white);
    font-size: 18px;
  }

  .header__selection-order {
    background-color: var(--basic-green);
    padding: 9px 16px 9px 19px;
  }

  .header__container {
    background-color: var(--basic-light-blue);
    width: 1200px;
    height: 320px;
  }

  .header__description {
     color: var(--basic-red);
     font-size: 16px;
     font-style: italic;
     line-height: 23px;
   }

   .header__tel {
     color: var(--basic-red);
     text-decoration: none;
     font-weight: 700;
     font-size: 21px;
     line-height: 30px;
   }

   .header__address {
     font-size: 14px;
     text-align: center;
     line-height: 24px;
     color: var(--basic-dark-gray);
   }

   .header__login {
     background-color: var(--basic-white);
     text-decoration: none;
     color: var(--basic-black);
     font-size: 21px;
     text-align: center;
     line-height: 21px;
     padding: 12px 27px 12px 19px;
   }

  .header__registration {
    background-color: var(--basic-white);
    text-decoration: none;
    color: var(--basic-black);
    font-size: 21px;
    text-align: center;
    line-height: 21px;
    padding: 12px 24px;
  }

  .header__navigation {
    list-style: none;
    background-color: var(--basic-dark-blue);
    width: 940px;
    height: 60px;
  }

  .header__navigation-item {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
  }

   /*CARDS*/
   .card {
     font-family: Cuprum, Arial, sans-serif;
   }
   .card__section {
     text-decoration: none;
     width: 300px;
     height: 123px;
     color: var(--basic-white);
     font-weight: 700;
     font-size: 24px;
     line-height: 30px;
   }

   .card__section-orange {
     background-color: var(--basic-orange);
   }

   .card__section-blue {
     background-color: var(--basic-blue);
   }

   .card__section-purple {
     background-color: var(--basic-purple);
   }

   .card__section-green {
     background-color: var(--basic-light-green);
   }

   .card__section-light-orange {
     background-color: var(--basic-light-orange);
   }

   .card__section-gray {
     background-color: var(--basic-gray);
   }

   .card__section-button {
     font-family: Cuprum, Arial, sans-serif;
     color: var(--basic-white);
     width: 135px;
     height: 38px;
     opacity: 30%;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     padding: 10px 24px 10px 23px;
   }

   .card__section-button-orange {
     background-color: var(--basic-orange);
   }

   .card__section-button-blue {
     background-color: var(--basic-blue);
   }

   .card__section-button-purple {
     background-color: var(--basic-purple);
   }

   .card__section-button-green {
     background-color: var(--basic-light-green);
   }

   .card__section-button-light-orange {
     background-color: var(--basic-light-orange);
   }

   .card__section-big {
     text-decoration: none;
     width: 620px;
     height: 266px;
     color: var(--basic-white);
     font-weight: 700;
     font-size: 36px;
     line-height: 36px;
   }

   .card__section-big_gray {
     background-color: var(--basic-gray);
   }

  .card__section-big_phrase {
     width: 620px;
     color: var(--basic-white);
     font-size: 18px;
     line-height: 24px;
     background-color: var(--basic-gray);
   }

  .card__section-big_button-red {
     background-color: var(--basic-red);
     color: var(--basic-white);
     width: 192px;
     height: 38px;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     padding: 11px 46px 9px;
   }

  /*POPULAR PRODUCTS*/

  .popular__items {
    background-color: var(--basic-light-light-gray);
    width: 940px;
    height: 89px;
    text-decoration: none;
    font-family: Cuprum, Arial, sans-serif;
  }

  .popular__items-name {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-dark-gray);
  }

  .popular__items-button {
    background-color: var(--basic-red);
    width: 192px;
    height: 38px;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .product {
    text-decoration: none;
    list-style: none;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: var(--basic-black);
  }

  .product__img {
    width: 127px;
    height: 112px;
    background-color: var(--basic-light-gray);
  }

  .product__old-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-gray2);
    text-decoration-line: line-through;
  }

  .product__price_button {
    background-color: var(--basic-red);
    width: 141px;
    height: 38px;
    color: var(--basic-white);
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
  }

  /*POPULAR PROVIDERS*/

  .provider {
    background-color: var(--basic-light-light-gray);
    width: 940px;
    height: 89px;
    list-style: none;
  }

  .provider__item {
    text-decoration: none;
    width: 220px;
    height: 145px;
  }

  /*SERVICE*/

  .service {
    width: 1200px;
    height: 522px;
    background-color: var(--basic-background);
  }

  .service__name {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
  }

  .service__phrase {
    font-family: PT Sans, Arial, sans-serif;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 24px;
  }

  .vertical-tab {
    width: 240px;
    height: 61px;
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
  }

  .vertical-tab_active {
    background-color: var(--basic-white);
    color: var(--basic-dark-gray);
  }

  .vertical-tab_blue {
    background-color: var(--basic-dark-gray);
    color: var(--basic-white);
  }

  .service__name_blue {
    color: var(--basic-dark-gray);
  }

  /*COMPANY*/
  .company {
    font-family: Cuprum, Arial, sans-serif;
  }

  .company__name {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
  }

  .company__description {
    width: 460px;
    height: 147px;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
  }

  .company__transport {
    list-style: none;
    line-height: 24px;
    font-size: 18px;
    color: var(--basic-black);
  }

  .company__more-information {
    text-decoration: none;
  }

  .company__button {
    text-decoration: none;
    width: 220px;
    height: 38px;
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
  }

  /*FOOTER*/
  .footer {
    font-family: Cuprum, Arial, sans-serif;
  }

  .footer__top {
    background-color: var(--basic-dark-gray);
    width: 1200px;
    height: 193px;
  }

  .footer__logo {
    width: 220px;
    height: 68px;
    background-color: var(--basic-red);
    color: var(--basic-white);
    text-align: center;
    font-size: 28px;
  }

  .footer__address {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-gray3);
  }

  .footer__nav_row-one {
    text-decoration: none;
    list-style: none;
    color: var(--basic-gray3);
  }

  .footer__nav_row-two {
    text-decoration: none;
    list-style: none;
    color: var(--basic-yellow);
  }

  .footer__social {
    list-style: none;
  }

  .footer__down {
    width: 1200px;
    height: 107px;
    background-color: var(--basic-dark-blue);
  }

  .footer__copyright {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
  }

  .social__button {
    text-decoration: none;
  }

  .footer__feedback {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
  }

  .footer__feedback-address {
    text-decoration: none;
    color: var(--basic-yellow);
  }

    /*CATALOG*/

    .page-nav {
      list-style: none;
      text-decoration: none;
    }

    .page-nav__item {
      font-family: PT Sans, Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: var(--basic-black);
    }

    .punchers {
      background-color: var(--basic-light-blue);
      font-family: Cuprum, Arial, sans-serif;
      font-size: 30px;
      line-height: 30px;
      color: var(--basic-dark-blue);
      width: 940px;
      height: 89px;
    }

      /*FILTER*/
    .filter {
      font-family: PT Sans, Arial, sans-serif;
    }
    .filter__name {
      width: 220px;
      height: 38px;
      background-color: var(--basic-light-pink);
      font-size: 13px;
      line-height: 18px;
      color: var(--basic-black);
    }

    .filter__item {
      font-weight: 700;
      font-size: 17px;
      line-height: 30px;
      color: var(--basic-black);
    }

    .filter__button {
      text-decoration: none;
      width: 220px;
      height: 38px;
      background-color: var(--basic-white);
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: var(--basic-black);
    }

    /*SORTING*/

    .sorting__list {
      list-style: none;
      text-decoration: none;
      width: 700px;
      height: 38px;
      background-color: var(--basic-light-pink);
    }

    .sorting__item {
      font-family: PT Sans, Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: var(--basic-black);
    }

    .sorting__item_red {
      color: var(--basic-red);
    }

    /*SWITCH-PAGES*/

    .switch-pages__list {
      list-style: none;
    }

    .switch-pages_active {
      background-color: var(--basic-red);
    }

    .switch-pages {
      text-decoration: none;
      width: 38px;
      height: 38px;
      background-color: var(--basic-white);
      font-family: PT Sans, Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: var(--basic-black);
      padding: 10px 15px;
    }

    .switch-pages_next {
      width: 140px;
      height: 38px;
    }

      /*PUNCHER-INFORMATION*/

      .puncher-information {
        width: 1200px;
        height: 261px;
        background-color: var(--basic-background);
      }

      .puncher-information__name {
        font-family: Cuprum, Arial, sans-serif;
        font-size: 30px;
        line-height: 30px;
        color: var(--basic-black);
      }

      .puncher-information__text {
        width: 907px;
        height: 74px;
        font-family: PT Sans, Arial, sans-serif;
        font-size: 13px;
        line-height: 24px;
        color: var(--basic-black);
      }
